/* ====== Variables ======== */

/* Fonts */
$primary-font: "Poppins",
sans-serif;

/* Color */
$primary-color      :#8DC9DB;
$primary-dark-color :#75B8D2;
$secondary-color    :#D5F0F8;
$gray-text--color   :#B1B1B1;
$gray-color         :#FAFAFA;
$black-color        :#000000;
$white-color        :#ffffff;
$shadow-bg          :#21CDCF;